body {
	margin: 0px;
	background: #816C4B;
	font-family: 'Oxygen', sans-serif;
}

/*
Header bar at the top of every page
*/

.header-bar {
	background: #65553B;
	width: 100%;
	height: 35px;
}

div.button {
	float: left;
	height: 35px;
	margin-right: 3px;
}

/*
Image area on the home page
*/

div.image-pane {
	background: #ffffff;
	width: 100%;
	height: auto;
}

.image-pane > div {
	height: auto;
}

.image-pane > div > img {
	display: block;
	width: 100%;
	height: auto;
}

/*
Title area
*/

.page-title {
	text-align: center;
	width: 100%;
	color: #534630;
	background: #917A55;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-color: #65553B;
	padding: 1px 0px 1px 0px;
	margin: 0px 0px 10px 0px;
}

.page-title > h1 {
	margin: 0px;
}

/*
Debug bar when in dev mode
*/

div.debug-selector {
	background: #ffffff;
	float: right;
	height: 35px;
	width: 8%;
}

div.debug-panel {
	background: #ffffff;
	display: block;
	width: 40%;
	top: 35px;
	float: right;
}

.clear-float {
	clear: both;
}

.promo-pane {
	background: #A88D62;
	width: 95%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 10px;
}

/*
Articles
*/

.article-pane {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

.article-item {
	margin: 0px 0px 10px 0px;
}

.article-title {
	background: #5F5037;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 0px 0px 5px;
}

.article-title a:link {
	text-decoration: none;
	color: #372E1F;
}

.article-title a:visited {
	text-decoration: none;
	color: #372E1F;
}

.article-title h2 {
	margin: 0px;
	font-family: 'Bitter', serif;
}

.article-body {
	background: #C0A57C;
	padding: 0px 0px 5px 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.article-body p {
	margin: 0px 0px 10px 0px;
}

/*
Content holders
*/

.content-pane {
	background: #816C4B;
	width: 80%;
	float: right;
}

.left-menu {
	height: 300px;
	width: 20%;
	float: left;
	background: #65553B;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-content {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #65553B;
}