<<<set . "title" "Rollesby Broad SC">>>
<<<template "header.html" .>>>
<<<template "App/article.html" .>>>

<script type="text/x-handlebars">
<div class="main-content">
	<div class="left-menu">
		{{#weather-info}}
		<p>stuff</p>
		{{weatherPromise.responseJSON.wind.speed}}
			{{calcWindSpeedMPH}}
		{{/weather-info}}
	</div>
	
	<div class="content-pane">
		<div class="promo-pane">
			<p><<<.introText>>></p>
		</div>
		
		
		{{outlet "content"}}
		
		
		
	</div>
	
	<div class="clear-float"></div>
</div>

<<<template "footer.html" .>>>
