<<<template "App/article.html" .>>>

<script type="text/x-handlebars" data-template-name="components/intro-text">
<p>RBSC offers its members sailing on the Norfolk Broads 52 weeks of the year. The Club welcomes
 new members, whether expert sailors or complete novices, young or old! We have a wide range of
 dinghy classes including:- Moth, Enterprise, Laser, Mirror, Optimist, Phantom, Topper, Solo,
 Wayfarer, Wanderer. The club also has a selection of boats available for hire to members.</p>
</script>
