<div ng-app="debugSidebar">
	<div ng-controller="debugSidebarMainCtl">
		<div class="debug-selector" ng-click="Clicked()">
			Debug Bar
		</div>
		<div class="clear-float"></div>
		<div class="debug-panel" ng-show="visible">		
			<h4>Available pipelines to revel templates</h4>
			<dl>
			<<< range $index, $value := .>>>
				<dt><<<$index>>></dt>
				<dd><<<$value>>></dd>
			<<<end>>>
			</dl>
			<h4>Flash</h4>
			<dl>
			<<< range $index, $value := .flash>>>
				<dt><<<$index>>></dt>
				<dd><<<$value>>></dd>
			<<<end>>>
			</dl>
		
			<h4>Errors</h4>
			<dl>
			<<< range $index, $value := .errors>>>
				<dt><<<$index>>></dt>
				<dd><<<$value>>></dd>
			<<<end>>>
			</dl>
		</div>
		<div class="clear-float"></div>
	</div>
</div>

