  	<div class="footer-content">
		&copy; 2014 RBSC  
	</div>



</script>
  </body>
	<<<append . "moreScripts" "js/jquery-2.1.1.min.js">>>
	<<<append . "moreScripts" "js/handlebars-v2.0.0.js">>>
	<<<append . "moreScripts" "js/ember.js">>>
	<<<append . "moreScripts" "js/ember-data.js">>>
	<<<append . "moreScripts" "js/SailingNews/application.js">>>
	<<<append . "moreScripts" "js/SailingNews/models/article.js">>>
	<<<append . "moreScripts" "js/SailingNews/models/user.js">>>
	<<<append . "moreScripts" "js/SailingNews/controllers/main.js">>>
	<<<append . "moreScripts" "js/SailingNews/router.js">>>
	<<<range .moreScripts>>>
  		<script src="/public/<<<.>>>" type="text/javascript" charset="utf-8"></script>
  	<<<end>>>
</html>
