<!DOCTYPE html>

<html>
  <head>
    <title><<<.title>>></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Cabin|Oxygen|Roboto' rel='stylesheet' type='text/css'>
 	
	<<<append . "moreStyles" "css/main.css">>>
	
  	
    <<<range .moreStyles>>>
      <link rel="stylesheet" type="text/css" href="/public/<<<.>>>">
    <<<end>>>
	<<<template "App/templates.html" .>>>
	</head>
  <body>

	

<div class="header-bar">
	<div class="button"><a href="/"><img src="/public/img/home_button.png"></a></div>
	
</div>

<div class="clear-float"></div>

<div class="image-pane">
	<div class="photo">		
		<img src="/public/img/Ian_bob_solo.png">
	</div>
</div>

<div class="page-title">
	<h1>Rollesby Broad Sailing Club</h1>
</div>